/* Some code from https://www.lenastanley.com/2021/04/css-door-openclose-on-hover.html used for door animations. */

.door {
    background-color: brown;
    width: 23%;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    height: 50em;
    display: inline-block;
    border-color: black;
    border-width: 1em;
    border-style: double;
    margin: 1em;
}

.door-front {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: brown;
    transform-origin: left;
    position: absolute;
    z-index: 1;
    transition: .5s;
}

.door-back {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: white;
}

.goatcarimg {
    width: 70%;
}

.number {
    font-size: 2em;
    margin: 0.5em;
}

.handle {
    background-color: black;
    width: 2em;
    height: 2em;
    border-radius: 100%;
    top: 50%;
    left: 92%;
    position: relative;
}

#doors {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    margin: 0.2em;
}

#resultview {
    display: none;
}
#doorview {
    display: none;
}